*{
    box-sizing: border-box;
}
.puzzle-block{
    background-color: azure;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    border: 1px solid white;
}