@import "modal";

* {
  box-sizing: border-box;
}

body {
  padding: 50px;
}

#puzzle-wrapper{
  display: flex;
  justify-content: space-around;
  h1{
    text-align: center;
    font-size: 50px;
  }
}
