*{
    box-sizing: border-box;
}
body{
    padding: 50px;
}
.picture-puzzle{
    margin: 0 auto;
    position: relative;
}
.puzzle-block{
    background-color: azure;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    border: 1px solid white;
}